</div>

<footer>
  <div class="footer-padding "></div>
  <div class="container-footer footer">
    <div id="about">
      <a href="/about">ABOUT</a></li>
    </div>
    <div>
      <p>Thanks for your content.</p>
    </div>
    <div id="contact">
      <a href="/contact">CONTACT</a></li>
    </div>
  </div>
</footer>

</body>
</html>
